In [44]:
import pandas as pd

In [45]:
import numpy as np

In [50]:
df=pd.read_csv("electronic-card-transactions-september-2024-csv-tables.csv")

In [51]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20792,ECTQ.S4AXP,2023.09,33.2,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20793,ECTQ.S4AXP,2023.12,32.7,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20794,ECTQ.S4AXP,2024.03,32.1,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20795,ECTQ.S4AXP,2024.06,33.3,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20796,ECTQ.S4AXP,2024.09,33.4,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN

In [15]:
df['Subject']

0        Electronic Card Transactions (ANZSIC06) - ECT
1        Electronic Card Transactions (ANZSIC06) - ECT
2        Electronic Card Transactions (ANZSIC06) - ECT
3        Electronic Card Transactions (ANZSIC06) - ECT
4        Electronic Card Transactions (ANZSIC06) - ECT
                             ...
20792    Electronic Card Transactions (ANZSIC06) - ECT
20793    Electronic Card Transactions (ANZSIC06) - ECT
20794    Electronic Card Transactions (ANZSIC06) - ECT
20795    Electronic Card Transactions (ANZSIC06) - ECT
20796    Electronic Card Transactions (ANZSIC06) - ECT
Name: Subject, Length: 20797, dtype: object

In [9]:
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [16]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

In [35]:
df.head(10)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,mainMagnitude,mainSubject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
5,ECTA.S19A1,2006.03,33317.4,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
6,ECTA.S19A1,2007.03,36422.0,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
7,ECTA.S19A1,2008.03,39198.0,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
8,ECTA.S19A1,2009.03,40629.4,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
9,ECTA.S19A1,2010.03,41815.4,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

In [18]:
df.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
20792,ECTQ.S4AXP,2023.09,33.2,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20793,ECTQ.S4AXP,2023.12,32.7,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20794,ECTQ.S4AXP,2024.03,32.1,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20795,ECTQ.S4AXP,2024.06,33.3,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20796,ECTQ.S4AXP,2024.09,33.4,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN

In [20]:
df.describe()

,Period,Data_value,Suppressed,Magnitude,Series_title_4,Series_title_5
count,20797.000000,1.967600e+04,0.0,20797.000000,0.0,0.0
mean,2012.632167,1.615220e+07,NaN,4.217916,NaN,NaN
std,6.766113,8.955409e+07,NaN,2.741722,NaN,NaN
min,2000.010000,-5.130000e+01,NaN,0.000000,NaN,NaN
25%,2007.040000,2.024000e+02,NaN,0.000000,NaN,NaN
50%,2013.010000,1.276900e+03,NaN,6.000000,NaN,NaN
75%,2018.120000,4.643875e+03,NaN,6.000000,NaN,NaN
max,2024.090000,1.982349e+09,NaN,6.000000,NaN,NaN

In [21]:
df.describe(percentiles=[0.3, 0.5, 0.7])

,Period,Data_value,Suppressed,Magnitude,Series_title_4,Series_title_5
count,20797.000000,1.967600e+04,0.0,20797.000000,0.0,0.0
mean,2012.632167,1.615220e+07,NaN,4.217916,NaN,NaN
std,6.766113,8.955409e+07,NaN,2.741722,NaN,NaN
min,2000.010000,-5.130000e+01,NaN,0.000000,NaN,NaN
30%,2008.060000,3.075000e+02,NaN,6.000000,NaN,NaN
50%,2013.010000,1.276900e+03,NaN,6.000000,NaN,NaN
70%,2017.090000,3.511400e+03,NaN,6.000000,NaN,NaN
max,2024.090000,1.982349e+09,NaN,6.000000,NaN,NaN

In [22]:
df.info

<bound method DataFrame.info of       Series_reference   Period  Data_value  Suppressed STATUS    UNITS  \
0           ECTA.S19A1  2001.03      2462.5         NaN      F  Dollars
1           ECTA.S19A1  2002.03     17177.2         NaN      F  Dollars
2           ECTA.S19A1  2003.03     22530.5         NaN      F  Dollars
3           ECTA.S19A1  2004.03     28005.1         NaN      F  Dollars
4           ECTA.S19A1  2005.03     30629.6         NaN      F  Dollars
...                ...      ...         ...         ...    ...      ...
20792       ECTQ.S4AXP  2023.09        33.2         NaN      F  Percent
20793       ECTQ.S4AXP  2023.12        32.7         NaN      F  Percent
20794       ECTQ.S4AXP  2024.03        32.1         NaN      F  Percent
20795       ECTQ.S4AXP  2024.06        33.3         NaN      F  Percent
20796       ECTQ.S4AXP  2024.09        33.4         NaN      F  Percent

       Magnitude                                        Subject  \
0              6  Electronic Card Transactions (ANZSIC06) - ECT
1              6  Electronic Card Transactions (ANZSIC06) - ECT
2              6  Electronic Card Transactions (ANZSIC06) - ECT
3              6  Electronic Card Transactions (ANZSIC06) - ECT
4              6  Electronic Card Transactions (ANZSIC06) - ECT
...          ...                                            ...
20792          0  Electronic Card Transactions (ANZSIC06) - ECT
20793          0  Electronic Card Transactions (ANZSIC06) - ECT
20794          0  Electronic Card Transactions (ANZSIC06) - ECT
20795          0  Electronic Card Transactions (ANZSIC06) - ECT
20796          0  Electronic Card Transactions (ANZSIC06) - ECT

                                                   Group Series_title_1  \
0      Total values - Electronic card transactions A/...         Actual
1      Total values - Electronic card transactions A/...         Actual
2      Total values - Electronic card transactions A/...         Actual
3      Total values - Electronic card transactions A/...         Actual
4      Total values - Electronic card transactions A/...         Actual
...                                                  ...            ...
20792  Electronic card transactions by mean and propo...         Actual
20793  Electronic card transactions by mean and propo...         Actual
20794  Electronic card transactions by mean and propo...         Actual
20795  Electronic card transactions by mean and propo...         Actual
20796  Electronic card transactions by mean and propo...         Actual

                                          Series_title_2  Series_title_3  \
0                                   RTS total industries             NaN
1                                   RTS total industries             NaN
2                                   RTS total industries             NaN
3                                   RTS total industries             NaN
4                                   RTS total industries             NaN
...                                                  ...             ...
20792  Debit card usage as a proportion of total ECT ...  Proportion (%)
20793  Debit card usage as a proportion of total ECT ...  Proportion (%)
20794  Debit card usage as a proportion of total ECT ...  Proportion (%)
20795  Debit card usage as a proportion of total ECT ...  Proportion (%)
20796  Debit card usage as a proportion of total ECT ...  Proportion (%)

       Series_title_4  Series_title_5
0                 NaN             NaN
1                 NaN             NaN
2                 NaN             NaN
3                 NaN             NaN
4                 NaN             NaN
...               ...             ...
20792             NaN             NaN
20793             NaN             NaN
20794             NaN             NaN
20795             NaN             NaN
20796             NaN             NaN

[20797 rows x 14 columns]>

In [10]:
df.sort_values(['Period'], ascending=[1])

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
14370,ECTM.S4A1V,2000.01,NaN,NaN,C,Dollars,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Mean transaction value,Value ($),NaN,NaN
13479,ECTM.S29A9,2000.01,NaN,NaN,C,Number,0,Electronic Card Transactions (ANZSIC06) - ECT,Number of electronic card transactions A/S/T b...,Actual,Total,NaN,NaN,NaN
15228,ECTM.S4AXP,2000.01,NaN,NaN,C,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
1156,ECTM.S19A2,2000.01,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS core industries,NaN,NaN,NaN
6582,ECTM.S1GA2,2000.01,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Values - Electronic card transactions A/S/T by...,Actual,Durables,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4694,ECTM.S19SW,2024.09,6096.3,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Seasonally adjusted,Credit,NaN,NaN,NaN
14072,ECTM.S29AW,2024.09,100550547.0,NaN,F,Number,0,Electronic Card Transactions (ANZSIC06) - ECT,Number of electronic card transactions A/S/T b...,Actual,Credit,NaN,NaN,NaN
20107,ECTQ.S29AX,2024.09,175498451.0,NaN,F,Number,0,Electronic Card Transactions (ANZSIC06) - ECT,Number of electronic card transactions A/S/T b...,Actual,Debit,NaN,NaN,NaN
18908,ECTQ.S1GS8,2024.09,6918.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Values - Electronic card transactions A/S/T by...,Seasonally adjusted,Non-retail excl. services,NaN,NaN,NaN
20796,ECTQ.S4AXP,2024.09,33.4,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN

In [23]:
df.shape

(20797, 14)

In [24]:
df[['Period', 'Suppressed', 'STATUS', 'Group']]

,Period,Suppressed,STATUS,Group
0,2001.03,NaN,F,Total values - Electronic card transactions A/...
1,2002.03,NaN,F,Total values - Electronic card transactions A/...
2,2003.03,NaN,F,Total values - Electronic card transactions A/...
3,2004.03,NaN,F,Total values - Electronic card transactions A/...
4,2005.03,NaN,F,Total values - Electronic card transactions A/...
...,...,...,...,...
20792,2023.09,NaN,F,Electronic card transactions by mean and propo...
20793,2023.12,NaN,F,Electronic card transactions by mean and propo...
20794,2024.03,NaN,F,Electronic card transactions by mean and propo...
20795,2024.06,NaN,F,Electronic card transactions by mean and propo...
20796,2024.09,NaN,F,Electronic card transactions by mean and propo...

In [25]:
df[df.index==1]

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

In [26]:
df.loc[100:110]

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
100,ECTA.S19AX,2005.03,22274.9,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
101,ECTA.S19AX,2006.03,24093.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
102,ECTA.S19AX,2007.03,26344.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
103,ECTA.S19AX,2008.03,28686.8,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
104,ECTA.S19AX,2009.03,30094.4,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
105,ECTA.S19AX,2010.03,31841.8,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
106,ECTA.S19AX,2011.03,33773.3,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
107,ECTA.S19AX,2012.03,36203.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
108,ECTA.S19AX,2013.03,37792.0,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
109,ECTA.S19AX,2014.03,39407.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
110,ECTA.S19AX,2015.03,40712.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN

In [27]:
df.loc[100:110,['Period', 'Suppressed', 'STATUS', 'Group' ]]

,Period,Suppressed,STATUS,Group
100,2005.03,NaN,F,Total values - Electronic card transactions A/...
101,2006.03,NaN,F,Total values - Electronic card transactions A/...
102,2007.03,NaN,F,Total values - Electronic card transactions A/...
103,2008.03,NaN,F,Total values - Electronic card transactions A/...
104,2009.03,NaN,F,Total values - Electronic card transactions A/...
105,2010.03,NaN,F,Total values - Electronic card transactions A/...
106,2011.03,NaN,F,Total values - Electronic card transactions A/...
107,2012.03,NaN,F,Total values - Electronic card transactions A/...
108,2013.03,NaN,F,Total values - Electronic card transactions A/...
109,2014.03,NaN,F,Total values - Electronic card transactions A/...
110,2015.03,NaN,F,Total values - Electronic card transactions A/...

In [28]:
df[df.Period==2003.03]

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
26,ECTA.S19A2,2003.03,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS core industries,NaN,NaN,NaN
50,ECTA.S19A9,2003.03,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Total,NaN,NaN,NaN
74,ECTA.S19AW,2003.03,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Credit,NaN,NaN,NaN
98,ECTA.S19AX,2003.03,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20317,ECTQ.S4A3N,2003.03,37.4,NaN,F,Number,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Mean number of transactions per person,Number,NaN,NaN
20415,ECTQ.S4ACP,2003.03,58.5,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,ECT core retail as a proportion of core Retail...,Proportion (%),NaN,NaN
20513,ECTQ.S4ARP,2003.03,50.7,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,ECT retail as a proportion of total Retail Tra...,Proportion (%),NaN,NaN
20611,ECTQ.S4AWP,2003.03,45.2,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Credit card usage as a proportion of total ECT...,Proportion (%),NaN,NaN
20710,ECTQ.S4AXP,2003.03,54.8,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN

In [29]:
df.loc[df.Period==2003.03, ['Subject', 'Group']]

,Subject,Group
2,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...
26,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...
50,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...
74,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...
98,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...
...,...,...
20317,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...
20415,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...
20513,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...
20611,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...
20710,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...

In [33]:
df.rename(columns = {'Subject':'mainSubject'}, inplace = True)
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,mainSubject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

In [34]:
df.rename(columns = {'Subject':'mainSubject', 'Magnitude': 'mainMagnitude'}, inplace = True)
df.head(1)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,mainMagnitude,mainSubject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

In [40]:
df['Period'].mean()

2012.632167139491

In [41]:
df['Period'].mode()

0    2004.03
1    2005.03
2    2006.03
3    2007.03
4    2008.03
5    2009.03
6    2010.03
Name: Period, dtype: float64

In [42]:
df['Period'].median()

2013.01

In [43]:
df['UNITS'].value_counts()

UNITS
Dollars    15164
Percent     3410
Number      2223
Name: count, dtype: int64

In [56]:
df['Data_value'].max()

1982349391.0

In [57]:
df['Data_value'].min()

-51.3

In [58]:
df['Data_value'].mean()

16152203.087858304

In [59]:
df['Data_value'].sum()

317810747956.7

In [60]:
df['Data_value'].median()

1276.9

In [52]:
pk = pd.read_csv('pokemon_data.csv')

In [53]:
pk

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [54]:
pk['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [55]:
len(pk['Type 1'].unique())

18

In [56]:
pk.groupby('Type 1').sum('Attack')

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Bug,23080,3925,4897,4880,3717,4471,4256,222,0
Dark,14302,2071,2740,2177,2314,2155,2361,125,2
Dragon,15180,2666,3588,2764,3099,2843,2657,124,12
Electric,15994,2631,3040,2917,3961,3243,3718,144,4
Fairy,7642,1260,1046,1117,1335,1440,826,70,1
Fighting,9824,1886,2613,1780,1434,1747,1784,91,0
Fire,17025,3635,4408,3524,4627,3755,3871,167,5
Flying,2711,283,315,265,377,290,410,22,2
Ghost,15568,2062,2361,2598,2539,2447,2059,134,2
Grass,24141,4709,5125,4956,5425,4930,4335,235,3
Ground,11401,2361,3064,2715,1807,2008,2045,101,4
Ice,10165,1728,1746,1714,1861,1831,1523,85,2
Normal,31279,7573,7200,5865,5470,6245,7012,299,2
Poison,7050,1883,2091,1927,1692,1803,1780,71,0
Psychic,21706,4026,4073,3858,5609,4918,4645,193,14
Rock,17280,2876,4086,4435,2787,3321,2460,152,4
Steel,11957,1761,2503,3412,1823,2177,1492,104,4
Water,33946,8071,8305,8170,8379,7898,7388,320,4

In [7]:
df1 = pd.DataFrame(np.random.randn(6, 4), columns=list("ABCD"))

In [8]:
df1

          A         B         C         D
0 -0.184574  1.197607 -0.226132  0.566333
1 -0.026457  0.807080 -0.890012 -1.104997
2 -2.321451  1.445237 -2.577525 -0.904304
3  0.611134 -1.297427 -1.596728  0.438060
4  0.589442 -0.110978 -0.035155 -0.096717
5 -1.424125 -0.742024  0.341462  0.294555

In [57]:
pk.index

RangeIndex(start=0, stop=800, step=1)

In [58]:
pk.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [59]:
pk.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [60]:
pk.sort_index(axis=1, ascending=True)

,#,Attack,Defense,Generation,HP,Legendary,Name,Sp. Atk,Sp. Def,Speed,Type 1,Type 2
0,1,49,49,1,45,False,Bulbasaur,65,65,45,Grass,Poison
1,2,62,63,1,60,False,Ivysaur,80,80,60,Grass,Poison
2,3,82,83,1,80,False,Venusaur,100,100,80,Grass,Poison
3,3,100,123,1,80,False,VenusaurMega Venusaur,122,120,80,Grass,Poison
4,4,52,43,1,39,False,Charmander,60,50,65,Fire,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,100,150,6,50,True,Diancie,100,150,50,Rock,Fairy
796,719,160,110,6,50,True,DiancieMega Diancie,160,110,110,Rock,Fairy
797,720,110,60,6,80,True,HoopaHoopa Confined,150,130,70,Psychic,Ghost
798,720,160,60,6,80,True,HoopaHoopa Unbound,170,130,80,Psychic,Dark
799,721,110,120,6,80,True,Volcanion,130,90,70,Fire,Water

In [61]:
pk.sort_index(axis=1, ascending=False)

,Type 2,Type 1,Speed,Sp. Def,Sp. Atk,Name,Legendary,HP,Generation,Defense,Attack,#
0,Poison,Grass,45,65,65,Bulbasaur,False,45,1,49,49,1
1,Poison,Grass,60,80,80,Ivysaur,False,60,1,63,62,2
2,Poison,Grass,80,100,100,Venusaur,False,80,1,83,82,3
3,Poison,Grass,80,120,122,VenusaurMega Venusaur,False,80,1,123,100,3
4,NaN,Fire,65,50,60,Charmander,False,39,1,43,52,4
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Fairy,Rock,50,150,100,Diancie,True,50,6,150,100,719
796,Fairy,Rock,110,110,160,DiancieMega Diancie,True,50,6,110,160,719
797,Ghost,Psychic,70,130,150,HoopaHoopa Confined,True,80,6,60,110,720
798,Dark,Psychic,80,130,170,HoopaHoopa Unbound,True,80,6,60,160,720
799,Water,Fire,70,90,130,Volcanion,True,80,6,120,110,721

In [62]:
pk.sort_values('HP', ascending = True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

In [63]:
pk.sort_values('HP', ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [64]:
pk[['Name', 'Type 1', 'HP']]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [65]:
pk.assign(name1 = pokemon['Name'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name1
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,Bulbasaur
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,Ivysaur
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,Venusaur
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,VenusaurMega Venusaur
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,Charmander
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,Diancie
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,DiancieMega Diancie
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,HoopaHoopa Confined
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,HoopaHoopa Unbound
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,Volcanion

In [69]:
pk[pk['Type 1']=='Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [78]:
pk[(pk['Type 2']=='Poison') & (pk['Defense'] > 80)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
604,544,Whirlipede,Bug,Poison,40,55,99,40,79,47,5,False
605,545,Scolipede,Bug,Poison,60,100,89,55,69,112,5,False

In [80]:
pk[(pk['Type 1'] == 'Bug') | (pk['Speed'] > 100)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
765,695,Heliolisk,Electric,Normal,62,55,52,109,94,109,6,False
771,701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [83]:
pk[pk['Type 2'].isna()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True

In [84]:
pk[pk['Type 2'].notna()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [102]:
pk.groupby('Type 1').size()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
dtype: int64

In [106]:
pk.groupby('Type 1').agg({'Attack':'mean', 'Name':'size', 'Speed':'max'})

              Attack  Name  Speed
Type 1
Bug        70.971014    69    160
Dark       88.387097    31    125
Dragon    112.125000    32    120
Electric   69.090909    44    140
Fairy      61.529412    17     99
Fighting   96.777778    27    118
Fire       84.769231    52    126
Flying     78.750000     4    123
Ghost      73.781250    32    130
Grass      73.214286    70    145
Ground     95.750000    32    120
Ice        72.750000    24    110
Normal     73.469388    98    135
Poison     74.678571    28    130
Psychic    71.456140    57    180
Rock       92.863636    44    150
Steel      92.703704    27    110
Water      74.151786   112    122

In [109]:
pk.groupby(['Type 1', 'Name']).agg({'Attack':'mean', 'Name':'size', 'Speed':'max'})

                              Attack  Name  Speed
Type 1 Name
Bug    Accelgor                 70.0     1    145
       Ariados                  90.0     1     40
       Beautifly                70.0     1     65
       Beedrill                 90.0     1     75
       BeedrillMega Beedrill   150.0     1    145
...                              ...   ...    ...
Water  Wailord                  90.0     1     60
       Wartortle                63.0     1     58
       Whiscash                 78.0     1     60
       Wingull                  30.0     1     85
       Wooper                   45.0     1     15

[800 rows x 3 columns]

In [110]:
pk1 = pk[['HP', 'Attack', 'Speed', 'Generation', 'Legendary']]

In [111]:
pk1

     HP  Attack  Speed  Generation  Legendary
0    45      49     45           1      False
1    60      62     60           1      False
2    80      82     80           1      False
3    80     100     80           1      False
4    39      52     65           1      False
..   ..     ...    ...         ...        ...
795  50     100     50           6       True
796  50     160    110           6       True
797  80     110     70           6       True
798  80     160     80           6       True
799  80     110     70           6       True

[800 rows x 5 columns]

In [114]:
pd.merge(pk1, pk1)

     HP  Attack  Speed  Generation  Legendary
0    45      49     45           1      False
1    60      62     60           1      False
2    80      82     80           1      False
3    80     100     80           1      False
4    39      52     65           1      False
..   ..     ...    ...         ...        ...
855  80     110     70           6       True
856  80     110     70           6       True
857  80     160     80           6       True
858  80     110     70           6       True
859  80     110     70           6       True

[860 rows x 5 columns]

In [133]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2']})

In [134]:
df2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'], 'D': ['D0', 'D2', 'D3']})

In [117]:
result = pd.merge(df1, df2, left_index=True, right_index=True, how='outer')

In [135]:
df1

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

In [136]:
df2

    C   D
0  C0  D0
1  C2  D2
2  C3  D3

In [121]:
result

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [138]:
df3 = pd.DataFrame({'key': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df4 = pd.DataFrame({'key': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [139]:
df3

   key  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [140]:
df4

   key  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [142]:
pd.merge(df3, df4, on = 'key')

   key  value_x  value_y
0  foo        1        5
1  foo        1        8
2  bar        2        6
3  baz        3        7
4  foo        5        5
5  foo        5        8