In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
data = pd.DataFrame(np.random.randint(0,9999,size=(10000,4)), columns=list('ABCD'))

In [9]:
data

         A     B     C     D
0      192   524  5222  4132
1     3274  3564  2059  2983
2     3354  6636  3398  3050
3     6685  4361  1168  7187
4     6869    52  6054  1655
...    ...   ...   ...   ...
9995  4109  2185  3735  9291
9996  2863  1688  8698  7619
9997  3566  5229  1324   145
9998  2352  6466  9982  7741
9999  4473  8534  1847  4099

[10000 rows x 4 columns]