In [48]:
import pandas as pd

In [49]:
import numpy as np

In [50]:
df=pd.read_csv("electronic-card-transactions-september-2024-csv-tables.csv")

In [51]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20792,ECTQ.S4AXP,2023.09,33.2,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20793,ECTQ.S4AXP,2023.12,32.7,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20794,ECTQ.S4AXP,2024.03,32.1,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20795,ECTQ.S4AXP,2024.06,33.3,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20796,ECTQ.S4AXP,2024.09,33.4,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN

In [15]:
df['Subject']

0        Electronic Card Transactions (ANZSIC06) - ECT
1        Electronic Card Transactions (ANZSIC06) - ECT
2        Electronic Card Transactions (ANZSIC06) - ECT
3        Electronic Card Transactions (ANZSIC06) - ECT
4        Electronic Card Transactions (ANZSIC06) - ECT
                             ...
20792    Electronic Card Transactions (ANZSIC06) - ECT
20793    Electronic Card Transactions (ANZSIC06) - ECT
20794    Electronic Card Transactions (ANZSIC06) - ECT
20795    Electronic Card Transactions (ANZSIC06) - ECT
20796    Electronic Card Transactions (ANZSIC06) - ECT
Name: Subject, Length: 20797, dtype: object

In [9]:
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [16]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

In [35]:
df.head(10)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,mainMagnitude,mainSubject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
5,ECTA.S19A1,2006.03,33317.4,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
6,ECTA.S19A1,2007.03,36422.0,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
7,ECTA.S19A1,2008.03,39198.0,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
8,ECTA.S19A1,2009.03,40629.4,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
9,ECTA.S19A1,2010.03,41815.4,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

In [18]:
df.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
20792,ECTQ.S4AXP,2023.09,33.2,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20793,ECTQ.S4AXP,2023.12,32.7,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20794,ECTQ.S4AXP,2024.03,32.1,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20795,ECTQ.S4AXP,2024.06,33.3,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
20796,ECTQ.S4AXP,2024.09,33.4,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN

In [20]:
df.describe()

,Period,Data_value,Suppressed,Magnitude,Series_title_4,Series_title_5
count,20797.000000,1.967600e+04,0.0,20797.000000,0.0,0.0
mean,2012.632167,1.615220e+07,NaN,4.217916,NaN,NaN
std,6.766113,8.955409e+07,NaN,2.741722,NaN,NaN
min,2000.010000,-5.130000e+01,NaN,0.000000,NaN,NaN
25%,2007.040000,2.024000e+02,NaN,0.000000,NaN,NaN
50%,2013.010000,1.276900e+03,NaN,6.000000,NaN,NaN
75%,2018.120000,4.643875e+03,NaN,6.000000,NaN,NaN
max,2024.090000,1.982349e+09,NaN,6.000000,NaN,NaN

In [21]:
df.describe(percentiles=[0.3, 0.5, 0.7])

,Period,Data_value,Suppressed,Magnitude,Series_title_4,Series_title_5
count,20797.000000,1.967600e+04,0.0,20797.000000,0.0,0.0
mean,2012.632167,1.615220e+07,NaN,4.217916,NaN,NaN
std,6.766113,8.955409e+07,NaN,2.741722,NaN,NaN
min,2000.010000,-5.130000e+01,NaN,0.000000,NaN,NaN
30%,2008.060000,3.075000e+02,NaN,6.000000,NaN,NaN
50%,2013.010000,1.276900e+03,NaN,6.000000,NaN,NaN
70%,2017.090000,3.511400e+03,NaN,6.000000,NaN,NaN
max,2024.090000,1.982349e+09,NaN,6.000000,NaN,NaN

In [22]:
df.info

<bound method DataFrame.info of       Series_reference   Period  Data_value  Suppressed STATUS    UNITS  \
0           ECTA.S19A1  2001.03      2462.5         NaN      F  Dollars
1           ECTA.S19A1  2002.03     17177.2         NaN      F  Dollars
2           ECTA.S19A1  2003.03     22530.5         NaN      F  Dollars
3           ECTA.S19A1  2004.03     28005.1         NaN      F  Dollars
4           ECTA.S19A1  2005.03     30629.6         NaN      F  Dollars
...                ...      ...         ...         ...    ...      ...
20792       ECTQ.S4AXP  2023.09        33.2         NaN      F  Percent
20793       ECTQ.S4AXP  2023.12        32.7         NaN      F  Percent
20794       ECTQ.S4AXP  2024.03        32.1         NaN      F  Percent
20795       ECTQ.S4AXP  2024.06        33.3         NaN      F  Percent
20796       ECTQ.S4AXP  2024.09        33.4         NaN      F  Percent

       Magnitude                                        Subject  \
0              6  Electronic Card Transactions (ANZSIC06) - ECT
1              6  Electronic Card Transactions (ANZSIC06) - ECT
2              6  Electronic Card Transactions (ANZSIC06) - ECT
3              6  Electronic Card Transactions (ANZSIC06) - ECT
4              6  Electronic Card Transactions (ANZSIC06) - ECT
...          ...                                            ...
20792          0  Electronic Card Transactions (ANZSIC06) - ECT
20793          0  Electronic Card Transactions (ANZSIC06) - ECT
20794          0  Electronic Card Transactions (ANZSIC06) - ECT
20795          0  Electronic Card Transactions (ANZSIC06) - ECT
20796          0  Electronic Card Transactions (ANZSIC06) - ECT

                                                   Group Series_title_1  \
0      Total values - Electronic card transactions A/...         Actual
1      Total values - Electronic card transactions A/...         Actual
2      Total values - Electronic card transactions A/...         Actual
3      Total values - Electronic card transactions A/...         Actual
4      Total values - Electronic card transactions A/...         Actual
...                                                  ...            ...
20792  Electronic card transactions by mean and propo...         Actual
20793  Electronic card transactions by mean and propo...         Actual
20794  Electronic card transactions by mean and propo...         Actual
20795  Electronic card transactions by mean and propo...         Actual
20796  Electronic card transactions by mean and propo...         Actual

                                          Series_title_2  Series_title_3  \
0                                   RTS total industries             NaN
1                                   RTS total industries             NaN
2                                   RTS total industries             NaN
3                                   RTS total industries             NaN
4                                   RTS total industries             NaN
...                                                  ...             ...
20792  Debit card usage as a proportion of total ECT ...  Proportion (%)
20793  Debit card usage as a proportion of total ECT ...  Proportion (%)
20794  Debit card usage as a proportion of total ECT ...  Proportion (%)
20795  Debit card usage as a proportion of total ECT ...  Proportion (%)
20796  Debit card usage as a proportion of total ECT ...  Proportion (%)

       Series_title_4  Series_title_5
0                 NaN             NaN
1                 NaN             NaN
2                 NaN             NaN
3                 NaN             NaN
4                 NaN             NaN
...               ...             ...
20792             NaN             NaN
20793             NaN             NaN
20794             NaN             NaN
20795             NaN             NaN
20796             NaN             NaN

[20797 rows x 14 columns]>

In [10]:
df.sort_values(['Period'], ascending=[1])

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
14370,ECTM.S4A1V,2000.01,NaN,NaN,C,Dollars,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Mean transaction value,Value ($),NaN,NaN
13479,ECTM.S29A9,2000.01,NaN,NaN,C,Number,0,Electronic Card Transactions (ANZSIC06) - ECT,Number of electronic card transactions A/S/T b...,Actual,Total,NaN,NaN,NaN
15228,ECTM.S4AXP,2000.01,NaN,NaN,C,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
1156,ECTM.S19A2,2000.01,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS core industries,NaN,NaN,NaN
6582,ECTM.S1GA2,2000.01,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Values - Electronic card transactions A/S/T by...,Actual,Durables,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4694,ECTM.S19SW,2024.09,6096.3,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Seasonally adjusted,Credit,NaN,NaN,NaN
14072,ECTM.S29AW,2024.09,100550547.0,NaN,F,Number,0,Electronic Card Transactions (ANZSIC06) - ECT,Number of electronic card transactions A/S/T b...,Actual,Credit,NaN,NaN,NaN
20107,ECTQ.S29AX,2024.09,175498451.0,NaN,F,Number,0,Electronic Card Transactions (ANZSIC06) - ECT,Number of electronic card transactions A/S/T b...,Actual,Debit,NaN,NaN,NaN
18908,ECTQ.S1GS8,2024.09,6918.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Values - Electronic card transactions A/S/T by...,Seasonally adjusted,Non-retail excl. services,NaN,NaN,NaN
20796,ECTQ.S4AXP,2024.09,33.4,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN

In [23]:
df.shape

(20797, 14)

In [24]:
df[['Period', 'Suppressed', 'STATUS', 'Group']]

,Period,Suppressed,STATUS,Group
0,2001.03,NaN,F,Total values - Electronic card transactions A/...
1,2002.03,NaN,F,Total values - Electronic card transactions A/...
2,2003.03,NaN,F,Total values - Electronic card transactions A/...
3,2004.03,NaN,F,Total values - Electronic card transactions A/...
4,2005.03,NaN,F,Total values - Electronic card transactions A/...
...,...,...,...,...
20792,2023.09,NaN,F,Electronic card transactions by mean and propo...
20793,2023.12,NaN,F,Electronic card transactions by mean and propo...
20794,2024.03,NaN,F,Electronic card transactions by mean and propo...
20795,2024.06,NaN,F,Electronic card transactions by mean and propo...
20796,2024.09,NaN,F,Electronic card transactions by mean and propo...

In [25]:
df[df.index==1]

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

In [26]:
df.loc[100:110]

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
100,ECTA.S19AX,2005.03,22274.9,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
101,ECTA.S19AX,2006.03,24093.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
102,ECTA.S19AX,2007.03,26344.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
103,ECTA.S19AX,2008.03,28686.8,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
104,ECTA.S19AX,2009.03,30094.4,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
105,ECTA.S19AX,2010.03,31841.8,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
106,ECTA.S19AX,2011.03,33773.3,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
107,ECTA.S19AX,2012.03,36203.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
108,ECTA.S19AX,2013.03,37792.0,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
109,ECTA.S19AX,2014.03,39407.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
110,ECTA.S19AX,2015.03,40712.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN

In [27]:
df.loc[100:110,['Period', 'Suppressed', 'STATUS', 'Group' ]]

,Period,Suppressed,STATUS,Group
100,2005.03,NaN,F,Total values - Electronic card transactions A/...
101,2006.03,NaN,F,Total values - Electronic card transactions A/...
102,2007.03,NaN,F,Total values - Electronic card transactions A/...
103,2008.03,NaN,F,Total values - Electronic card transactions A/...
104,2009.03,NaN,F,Total values - Electronic card transactions A/...
105,2010.03,NaN,F,Total values - Electronic card transactions A/...
106,2011.03,NaN,F,Total values - Electronic card transactions A/...
107,2012.03,NaN,F,Total values - Electronic card transactions A/...
108,2013.03,NaN,F,Total values - Electronic card transactions A/...
109,2014.03,NaN,F,Total values - Electronic card transactions A/...
110,2015.03,NaN,F,Total values - Electronic card transactions A/...

In [28]:
df[df.Period==2003.03]

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
26,ECTA.S19A2,2003.03,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS core industries,NaN,NaN,NaN
50,ECTA.S19A9,2003.03,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Total,NaN,NaN,NaN
74,ECTA.S19AW,2003.03,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Credit,NaN,NaN,NaN
98,ECTA.S19AX,2003.03,NaN,NaN,C,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,Debit,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20317,ECTQ.S4A3N,2003.03,37.4,NaN,F,Number,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Mean number of transactions per person,Number,NaN,NaN
20415,ECTQ.S4ACP,2003.03,58.5,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,ECT core retail as a proportion of core Retail...,Proportion (%),NaN,NaN
20513,ECTQ.S4ARP,2003.03,50.7,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,ECT retail as a proportion of total Retail Tra...,Proportion (%),NaN,NaN
20611,ECTQ.S4AWP,2003.03,45.2,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Credit card usage as a proportion of total ECT...,Proportion (%),NaN,NaN
20710,ECTQ.S4AXP,2003.03,54.8,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN

In [29]:
df.loc[df.Period==2003.03, ['Subject', 'Group']]

,Subject,Group
2,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...
26,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...
50,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...
74,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...
98,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...
...,...,...
20317,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...
20415,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...
20513,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...
20611,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...
20710,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...

In [33]:
df.rename(columns = {'Subject':'mainSubject'}, inplace = True)
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,mainSubject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

In [34]:
df.rename(columns = {'Subject':'mainSubject', 'Magnitude': 'mainMagnitude'}, inplace = True)
df.head(1)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,mainMagnitude,mainSubject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN

In [40]:
df['Period'].mean()

2012.632167139491

In [41]:
df['Period'].mode()

0    2004.03
1    2005.03
2    2006.03
3    2007.03
4    2008.03
5    2009.03
6    2010.03
Name: Period, dtype: float64

In [42]:
df['Period'].median()

2013.01

In [43]:
df['UNITS'].value_counts()

UNITS
Dollars    15164
Percent     3410
Number      2223
Name: count, dtype: int64

In [56]:
df['Data_value'].max()

1982349391.0

In [57]:
df['Data_value'].min()

-51.3

In [58]:
df['Data_value'].mean()

16152203.087858304

In [59]:
df['Data_value'].sum()

317810747956.7

In [60]:
df['Data_value'].median()

1276.9

In [62]:
pokemon = pd.read_csv('pokemon_data.csv')

In [63]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [66]:
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [67]:
len(pokemon['Type 1'].unique())

18

In [81]:
pokemon.groupby('Type 1').sum('Attack')

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Bug,23080,3925,4897,4880,3717,4471,4256,222,0
Dark,14302,2071,2740,2177,2314,2155,2361,125,2
Dragon,15180,2666,3588,2764,3099,2843,2657,124,12
Electric,15994,2631,3040,2917,3961,3243,3718,144,4
Fairy,7642,1260,1046,1117,1335,1440,826,70,1
Fighting,9824,1886,2613,1780,1434,1747,1784,91,0
Fire,17025,3635,4408,3524,4627,3755,3871,167,5
Flying,2711,283,315,265,377,290,410,22,2
Ghost,15568,2062,2361,2598,2539,2447,2059,134,2
Grass,24141,4709,5125,4956,5425,4930,4335,235,3
Ground,11401,2361,3064,2715,1807,2008,2045,101,4
Ice,10165,1728,1746,1714,1861,1831,1523,85,2
Normal,31279,7573,7200,5865,5470,6245,7012,299,2
Poison,7050,1883,2091,1927,1692,1803,1780,71,0
Psychic,21706,4026,4073,3858,5609,4918,4645,193,14
Rock,17280,2876,4086,4435,2787,3321,2460,152,4
Steel,11957,1761,2503,3412,1823,2177,1492,104,4
Water,33946,8071,8305,8170,8379,7898,7388,320,4