In [3]:
import numpy as np

In [4]:
import pandas as pd

In [12]:
a = pd.Series([1, 3, 5, np.nan, 6, 8])

In [13]:
a

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
a1 = pd.Series(np.arange(5), index=["a", "b", "c", "d", "e"])

In [6]:
a1

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [12]:
a1[a1>2]

d    3
e    4
dtype: int32

In [7]:
d = {"a": 10, "b": 20, "c": 30, "g": 40}

In [8]:
pd.Series(d)

a    10
b    20
c    30
g    40
dtype: int64

In [14]:
b = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))

In [16]:
b

          A         B         C         D
0  0.232717 -0.007804  1.607843 -0.044230
1  0.910833 -2.108730  1.371999 -2.279093
2  0.185390  0.006150  0.169943  0.256185
3  0.124431 -0.353855  0.092607  0.715398
4  0.913925  0.209643  0.877411  2.784187
5  1.397335 -1.190432 -0.185734  0.753907

In [32]:
b.head()

          A         B         C         D
2  0.185390  0.006150  0.169943  0.256185
3  0.124431 -0.353855  0.092607  0.715398
4  0.913925  0.209643  0.877411  2.784187

In [33]:
b.index

RangeIndex(start=0, stop=6, step=1)

In [34]:
b.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [35]:
b.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.627438 -0.574171  0.655678  0.364392
std    0.521413  0.900566  0.738900  1.630768
min    0.124431 -2.108730 -0.185734 -2.279093
25%    0.197222 -0.981288  0.111941  0.030874
50%    0.571775 -0.180829  0.523677  0.485791
75%    0.913152  0.002661  1.248352  0.744280
max    1.397335  0.209643  1.607843  2.784187

In [37]:
b["A"]

0    0.232717
1    0.910833
2    0.185390
3    0.124431
4    0.913925
5    1.397335
Name: A, dtype: float64

In [29]:
c = pd.DataFrame(
    {
        "A": 1,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array(3, dtype="int32"),
        "E": ("test", "train", "test", "train"),
        "F": "foo",
    }
)

In [30]:
c

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo

In [20]:
c1 = pd.DataFrame(np.random.randn(6, 4), columns=list("ABCD"))

In [21]:
c1

          A         B         C         D
0 -0.592833 -0.835454 -0.578324 -0.087342
1 -0.033492 -0.295493  0.845445 -1.167904
2  1.205840  1.277749  1.184784  0.282341
3  0.485309 -1.456775  0.095387 -1.415438
4  0.816008  1.453272 -0.675460 -2.348267
5  0.421184  1.701177 -0.159132  0.481878