In [2]:
import numpy as np

In [3]:
import pandas as pd

In [12]:
a = pd.Series([1, 3, 5, np.nan, 6, 8])

In [13]:
a

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
a1 = pd.Series(np.arange(5), index=["a", "b", "c", "d", "e"])

In [6]:
a1

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [12]:
a1[a1>2]

d    3
e    4
dtype: int32

In [7]:
d = {"a": 10, "b": 20, "c": 30, "g": 40}

In [8]:
pd.Series(d)

a    10
b    20
c    30
g    40
dtype: int64

In [7]:
b = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))

In [8]:
b

          A         B         C         D
0  0.142362  0.851693 -0.332941  1.518186
1  1.050655 -0.214877 -0.442742 -0.282396
2 -2.302014  0.922851  2.199118 -0.365633
3 -1.985287  0.299989 -1.003260  0.429922
4  0.533773  0.258996 -0.665323 -0.150554
5 -0.498519  1.252929  1.237558  1.246350

In [12]:
b.head()

          A         B         C         D
0  0.142362  0.851693 -0.332941  1.518186
1  1.050655 -0.214877 -0.442742 -0.282396
2 -2.302014  0.922851  2.199118 -0.365633
3 -1.985287  0.299989 -1.003260  0.429922
4  0.533773  0.258996 -0.665323 -0.150554

In [13]:
b.tail(3)

          A         B         C         D
3 -1.985287  0.299989 -1.003260  0.429922
4  0.533773  0.258996 -0.665323 -0.150554
5 -0.498519  1.252929  1.237558  1.246350

In [14]:
b.to_numpy()

array([[ 0.14236244,  0.85169326, -0.33294145,  1.51818606],
       [ 1.05065522, -0.2148773 , -0.44274218, -0.28239622],
       [-2.30201447,  0.9228514 ,  2.19911849, -0.36563313],
       [-1.9852875 ,  0.29998899, -1.00326019,  0.42992152],
       [ 0.53377333,  0.2589961 , -0.66532294, -0.15055391],
       [-0.49851907,  1.25292949,  1.23755799,  1.24634958]])

In [33]:
b.index

RangeIndex(start=0, stop=6, step=1)

In [34]:
b.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [35]:
b.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.627438 -0.574171  0.655678  0.364392
std    0.521413  0.900566  0.738900  1.630768
min    0.124431 -2.108730 -0.185734 -2.279093
25%    0.197222 -0.981288  0.111941  0.030874
50%    0.571775 -0.180829  0.523677  0.485791
75%    0.913152  0.002661  1.248352  0.744280
max    1.397335  0.209643  1.607843  2.784187

In [37]:
b["A"]

0    0.232717
1    0.910833
2    0.185390
3    0.124431
4    0.913925
5    1.397335
Name: A, dtype: float64

In [21]:
b.sort_index(axis=1, ascending=False)

          D         C         B         A
0  1.518186 -0.332941  0.851693  0.142362
1 -0.282396 -0.442742 -0.214877  1.050655
2 -0.365633  2.199118  0.922851 -2.302014
3  0.429922 -1.003260  0.299989 -1.985287
4 -0.150554 -0.665323  0.258996  0.533773
5  1.246350  1.237558  1.252929 -0.498519

In [22]:
b.sort_index(axis=0, ascending=False)

          A         B         C         D
5 -0.498519  1.252929  1.237558  1.246350
4  0.533773  0.258996 -0.665323 -0.150554
3 -1.985287  0.299989 -1.003260  0.429922
2 -2.302014  0.922851  2.199118 -0.365633
1  1.050655 -0.214877 -0.442742 -0.282396
0  0.142362  0.851693 -0.332941  1.518186

In [23]:
b.sort_values(by="B")

          A         B         C         D
1  1.050655 -0.214877 -0.442742 -0.282396
4  0.533773  0.258996 -0.665323 -0.150554
3 -1.985287  0.299989 -1.003260  0.429922
0  0.142362  0.851693 -0.332941  1.518186
2 -2.302014  0.922851  2.199118 -0.365633
5 -0.498519  1.252929  1.237558  1.246350

In [25]:
b[1:4]

          A         B         C         D
1  1.050655 -0.214877 -0.442742 -0.282396
2 -2.302014  0.922851  2.199118 -0.365633
3 -1.985287  0.299989 -1.003260  0.429922

In [26]:
b.loc[1:4, ["A", "B"]]

          A         B
1  1.050655 -0.214877
2 -2.302014  0.922851
3 -1.985287  0.299989
4  0.533773  0.258996

In [30]:
b.iloc[1:5, 0:2]

          A         B
1  1.050655 -0.214877
2 -2.302014  0.922851
3 -1.985287  0.299989
4  0.533773  0.258996

    A   B   C   D
0 NaN NaN NaN NaN
1 NaN NaN NaN NaN
2 NaN NaN NaN NaN
3 NaN NaN NaN NaN
4 NaN NaN NaN NaN
5 NaN NaN NaN NaN

In [4]:
c = pd.DataFrame(
    {
        "A": 1,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array(3, dtype="int32"),
        "E": ("test", "train", "test", "train"),
        "F": "foo",
    }
)

In [5]:
c

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo

In [6]:
c.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E            object
F            object
dtype: object

In [37]:
c[c["E"].isin(["test"])]

   A          B    C  D     E    F
0  1 2013-01-02  1.0  3  test  foo
2  1 2013-01-02  1.0  3  test  foo

In [20]:
c1 = pd.DataFrame(np.random.randn(6, 4), columns=list("ABCD"))

In [21]:
c1

          A         B         C         D
0 -0.592833 -0.835454 -0.578324 -0.087342
1 -0.033492 -0.295493  0.845445 -1.167904
2  1.205840  1.277749  1.184784  0.282341
3  0.485309 -1.456775  0.095387 -1.415438
4  0.816008  1.453272 -0.675460 -2.348267
5  0.421184  1.701177 -0.159132  0.481878