In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
pk = pd.read_csv('pokemon_data.csv')

In [7]:
pk

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

select Name, Type 1, Type 2 
from pk

In [8]:
pk[['Name', 'Type 1', 'Type 2']]

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [9]:
pk1 = pk.assign(Name1 = pk['Name'])
pk1

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name1
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,Bulbasaur
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,Ivysaur
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,Venusaur
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,VenusaurMega Venusaur
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,Charmander
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,Diancie
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,DiancieMega Diancie
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,HoopaHoopa Confined
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,HoopaHoopa Unbound
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,Volcanion

select * 
from pk
where Name = 'Ivysaur'

In [10]:
pk[pk['Name']=='Ivysaur']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False