In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
pk = pd.read_csv('pokemon_data.csv')

In [6]:
pk

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
select Name, Type 1, Type 2 
from pk

In [8]:
pk[['Name', 'Type 1', 'Type 2']]

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [12]:
pk[['Name', 'HP', 'Attack', 'Defense', 'Speed']]

                      Name  HP  Attack  Defense  Speed
0                Bulbasaur  45      49       49     45
1                  Ivysaur  60      62       63     60
2                 Venusaur  80      82       83     80
3    VenusaurMega Venusaur  80     100      123     80
4               Charmander  39      52       43     65
..                     ...  ..     ...      ...    ...
795                Diancie  50     100      150     50
796    DiancieMega Diancie  50     160      110    110
797    HoopaHoopa Confined  80     110       60     70
798     HoopaHoopa Unbound  80     160       60     80
799              Volcanion  80     110      120     70

[800 rows x 5 columns]

In [13]:
pk[['#', 'Type 1', 'Type 2', 'HP', 'Attack', 'Generation', 'Legendary']]

       #   Type 1  Type 2  HP  Attack  Generation  Legendary
0      1    Grass  Poison  45      49           1      False
1      2    Grass  Poison  60      62           1      False
2      3    Grass  Poison  80      82           1      False
3      3    Grass  Poison  80     100           1      False
4      4     Fire     NaN  39      52           1      False
..   ...      ...     ...  ..     ...         ...        ...
795  719     Rock   Fairy  50     100           6       True
796  719     Rock   Fairy  50     160           6       True
797  720  Psychic   Ghost  80     110           6       True
798  720  Psychic    Dark  80     160           6       True
799  721     Fire   Water  80     110           6       True

[800 rows x 7 columns]

In [14]:
pk[['Name', 'Attack', 'Speed']]

                      Name  Attack  Speed
0                Bulbasaur      49     45
1                  Ivysaur      62     60
2                 Venusaur      82     80
3    VenusaurMega Venusaur     100     80
4               Charmander      52     65
..                     ...     ...    ...
795                Diancie     100     50
796    DiancieMega Diancie     160    110
797    HoopaHoopa Confined     110     70
798     HoopaHoopa Unbound     160     80
799              Volcanion     110     70

[800 rows x 3 columns]

In [9]:
pk1 = pk.assign(Name1 = pk['Name'])
pk1

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name1
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,Bulbasaur
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,Ivysaur
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,Venusaur
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,VenusaurMega Venusaur
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,Charmander
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,Diancie
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,DiancieMega Diancie
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,HoopaHoopa Confined
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,HoopaHoopa Unbound
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,Volcanion

In [ ]:
select * 
from pk
where Name = 'Ivysaur'

In [10]:
pk[pk['Name']=='Ivysaur']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False

In [7]:
pk[pk['Attack'] < 50]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
746,678,MeowsticMale,Psychic,NaN,74,48,76,83,81,104,6,False
747,678,MeowsticFemale,Psychic,NaN,74,48,76,83,81,104,6,False
754,684,Swirlix,Fairy,NaN,62,48,66,59,57,49,6,False
764,694,Helioptile,Electric,Normal,44,38,33,61,43,70,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False

In [21]:
pk[pk['Attack']>80]['Name'][pk['HP']>100]

96                           Muk
120                       Rhydon
123                   Kangaskhan
124    KangaskhanMega Kangaskhan
142                       Lapras
155                      Snorlax
162                       Mewtwo
163          MewtwoMega Mewtwo X
164          MewtwoMega Mewtwo Y
263                        Entei
269                        Lugia
270                        Ho-oh
313                      Slaking
319                      Exploud
321                     Hariyama
351                      Wailord
425                     Rayquaza
426        RayquazaMega Rayquaza
470                    Gastrodon
483                     Skuntank
493                     Garchomp
494        GarchompMega Garchomp
495                     Munchlax
500                    Hippowdon
514                   Lickilicky
515                    Rhyperior
524                    Mamoswine
543                    Regigigas
544        GiratinaAltered Forme
545         GiratinaOrigin Forme
552                       Arceus
559                       Emboar
589                    Excadrill
594                   Conkeldurr
597                   Seismitoad
598                        Throh
615      DarmanitanStandard Mode
652                    Amoonguss
710                       Kyurem
711           KyuremBlack Kyurem
712           KyuremWhite Kyurem
741                       Gogoat
792                      Xerneas
793                      Yveltal
794             Zygarde50% Forme
Name: Name, dtype: object

In [42]:
pk[(pk['Type 2']=='Poison') & (pk['Generation'] == 1 )][['Name', 'Attack', 'Defense']]

                      Name  Attack  Defense
0                Bulbasaur      49       49
1                  Ivysaur      62       63
2                 Venusaur      82       83
3    VenusaurMega Venusaur     100      123
16                  Weedle      35       30
17                  Kakuna      25       50
18                Beedrill      90       40
19   BeedrillMega Beedrill     150       40
48                  Oddish      50       55
49                   Gloom      65       70
50               Vileplume      80       85
53                 Venonat      55       50
54                Venomoth      65       60
75              Bellsprout      75       35
76              Weepinbell      90       50
77              Victreebel     105       65
78               Tentacool      40       35
79              Tentacruel      70       65
99                  Gastly      35       30
100                Haunter      50       45
101                 Gengar      65       60
102      GengarMega Gengar      65       80

In [47]:
pk[(pk['Legendary'] == 1) & (pk['Generation'] == 6) & (pk['Speed']>=99)][['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense']]

                    Name Type 1  Type 2   HP  Attack  Defense
792              Xerneas  Fairy     NaN  126     131       95
793              Yveltal   Dark  Flying  126     131       95
796  DiancieMega Diancie   Rock   Fairy   50     160      110

In [27]:
pk[
(pk['Defense'].between(100,110)) & 
(pk['Type 1'] == 'Water') & 
(pk['Type 2'].isna()) & 
(pk['Speed'].notna()) & 
(pk['Generation'].isin([1, 3, 4]))
].head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
402,367,Huntail,Water,NaN,55,104,105,94,75,52,3,False
403,368,Gorebyss,Water,NaN,55,84,105,114,75,52,3,False
548,490,Manaphy,Water,NaN,100,100,100,100,100,100,4,False

In [12]:
pk[
(pk['Attack'].between(20, 140)) &
(pk['Type 1'].isin(['Ghost', 'Ice', 'Flying', 'Fairy', 'Fairy', 'Dark', 'Dragon', 'Rock', 'Psychic', 'Water'])) &
((pk['Attack']) > 0 & (pk['Attack'] < 1000)) &
(pk['Legendary'].isin([True, False])) &
(pk['Legendary'] == True) &
(pk['Type 2'].notna())
].tail(20)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
269,249,Lugia,Psychic,Flying,106,90,130,90,154,110,2,True
417,380,Latias,Dragon,Psychic,80,80,90,110,130,110,3,True
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True
419,381,Latios,Dragon,Psychic,80,90,80,130,110,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True
541,484,Palkia,Water,Dragon,90,120,100,150,120,100,4,True
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True
553,494,Victini,Psychic,Fire,100,100,100,100,100,100,5,True
700,639,Terrakion,Rock,Fighting,91,129,90,72,90,108,5,True
706,643,Reshiram,Dragon,Fire,100,120,100,150,120,90,5,True
710,646,Kyurem,Dragon,Ice,125,130,90,130,90,95,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True

In [27]:
pk[
(pk['Type 2'].isin(['Flying', 'Psychic', 'Dragon' , 'Fire', 'Fighting', 'Ice', 'Ground'])) &
(pk['Sp. Def'].between(10, 200)) &
(pk['Defense'] != 0) &
(pk['Attack'] >= 20)
].sort_values(['Name'], ascending = 1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
153,142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False
365,334,Altaria,Dragon,Flying,75,70,90,70,105,80,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [34]:
pk[
(pk['Speed'] > 60) &
(pk['Sp. Def'].between(10,220)) &
(pk['Attack'] == 100)
].groupby(['Type 1', 'Type 2']).agg({'Defense':'size', 'HP':'mean', 'Sp. Atk':'min', 'Sp. Def': 'max', 'Speed': 'sum'})

                  Defense     HP  Sp. Atk  Sp. Def  Speed
Type 1   Type 2
Bug      Poison         1   60.0       55       69    112
Dragon   Ground         1  108.0       81       95     95
         Psychic        1   80.0      140      150    110
Fighting Psychic        1   60.0       80       85    100
Fire     Flying         1   90.0      125       85     90
Ghost    Dragon         1  150.0      100      120     90
Grass    Dark           1   90.0       90       60     80
         Poison         1   80.0      122      120     80
Ground   Dragon         1   80.0       80       80    100
Normal   Grass          1   80.0       60       70     95
Psychic  Fire           1  100.0      100      100    100
         Grass          1  100.0      100      100    100
Steel    Psychic        1  100.0      100      100    100

In [8]:
pk.groupby(['Type 2']).agg({
    'HP' : 'max', 
    'Attack':'min', 
    'Defense':'mean', 
    'Speed': 'sum', 
    'Sp. Def':'size'})

           HP  Attack     Defense  Speed  Sp. Def
Type 2
Bug        75      50   80.000000    185        3
Dark      103      63   72.050000   1507       20
Dragon    150      30   87.055556   1450       18
Electric  125      38   68.333333    429        6
Fairy     140      20   73.869565   1408       23
Fighting  110      61   82.500000   2272       26
Fire      100      30   80.166667    956       12
Flying    150      20   68.309278   8315       97
Ghost     100      40   82.285714    754       14
Grass     100      30   80.120000   1433       25
Ground    111      45   90.314286   1913       35
Ice       130      59   85.642857   1045       14
Normal     86      38   53.750000    357        4
Poison    114      25   59.558824   2266       34
Psychic   105      24   87.030303   2293       33
Rock      115      10  126.857143    504       14
Steel     110      35  104.636364   1306       22
Water     110      30   85.071429    800       14

In [10]:
pk.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [ ]:
select * 
from pk
where HP > 60 and Attack < 80

In [11]:
pk[(pk['HP'] > 60) & (pk['Attack'] < 80)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
35,30,Nidorina,Poison,NaN,70,62,67,55,55,56,1,False
38,33,Nidorino,Poison,NaN,61,72,57,55,55,65,1,False
40,35,Clefairy,Fairy,NaN,70,45,48,60,65,35,1,False
41,36,Clefable,Fairy,NaN,95,70,73,95,90,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
769,699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False
770,700,Sylveon,Fairy,NaN,95,65,65,110,130,60,6,False
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False

In [ ]:
select * 
from pk
where Type 1 == 'Grass' or Type 2 != 'Poison'

In [18]:
pk[(pk['Type 1'] == 'Grass') | (pk['Type 2'] == 'Fairy')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
44,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
777,707,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [ ]:
select *
from pk
where Type 2 is null

In [20]:
pk[pk['Type 2'].isna()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True

In [ ]:
select *
from pk
where Type 2 is not null

In [21]:
pk[pk['Type 2'].notna()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
select Name, Type 1, 
    count(Defense), 
    avg(HP), 
    min(Sp. Atk), 
    max(Sp. Def), 
    sum(Speed)
from pk
group by Name, Type 1

In [23]:
pk.groupby(['Name', 'Type 1']).agg({'Defense':'size', 'HP':'mean', 'Sp. Atk':'min', 'Sp. Def': 'max', 'Speed': 'sum'})

                                 Defense     HP  Sp. Atk  Sp. Def  Speed
Name                    Type 1
Abomasnow               Grass          1   90.0       92       85     60
AbomasnowMega Abomasnow Grass          1   90.0      132      105     30
Abra                    Psychic        1   25.0      105       55     90
Absol                   Dark           1   65.0       75       60     75
AbsolMega Absol         Dark           1   65.0      115       60    115
...                                  ...    ...      ...      ...    ...
Zoroark                 Dark           1   60.0      120       60    105
Zorua                   Dark           1   40.0       80       40     65
Zubat                   Poison         1   40.0       30       40     55
Zweilous                Dark           1   72.0       65       70     58
Zygarde50% Forme        Dragon         1  108.0       81       95     95

[800 rows x 5 columns]

In [ ]:
select *
from bd1 join bd2 on bd1.id = bd2.id

In [ ]:
pd.merge(bd1, bd2, on = 'id')

In [ ]:
select * 
from pk
limit(5)

In [24]:
pk.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [ ]:
select *
from pk
order by desc
limit(5)

In [25]:
pk.tail(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
select *
from pk
limit 5 offset 10

In [26]:
pk.loc[10:15]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False

In [27]:
pk['Name'][:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [ ]:
select distinct Type 1
from pk

In [29]:
pk['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [ ]:
select count(distinct Type 1)
from pk

In [30]:
len(pk['Type 1'].unique())

18

In [ ]:
select *
from pk
order by Attack

In [10]:
pk.sort_values(['Attack'], ascending = 1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True

In [ ]:
select *
from pk
order by Attack desc

In [11]:
pk.sort_values(['Attack'], ascending = 0)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [ ]:
select *
from 
where Type 1 in ('Psychic', 'Bug', 'Ground', 'Dragon')

In [16]:
pk[pk['Type 1'].isin(['Psychic', 'Bug', 'Ground', 'Dragon'])]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True

In [ ]:
select *
from pk
where Attack between 30 and 100

In [18]:
pk[pk['Attack'].between(30,100)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True