In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
pk = pd.read_csv('pokemon_data.csv')

In [7]:
pk

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

select Name, Type 1, Type 2 
from pk

In [8]:
pk[['Name', 'Type 1', 'Type 2']]

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [9]:
pk1 = pk.assign(Name1 = pk['Name'])
pk1

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name1
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,Bulbasaur
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,Ivysaur
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,Venusaur
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,VenusaurMega Venusaur
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,Charmander
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,Diancie
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,DiancieMega Diancie
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,HoopaHoopa Confined
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,HoopaHoopa Unbound
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,Volcanion

select * 
from pk
where Name = 'Ivysaur'

In [10]:
pk[pk['Name']=='Ivysaur']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False

select * 
from pk
where HP > 60 and Attack < 80

In [11]:
pk[(pk['HP'] > 60) & (pk['Attack'] < 80)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
35,30,Nidorina,Poison,NaN,70,62,67,55,55,56,1,False
38,33,Nidorino,Poison,NaN,61,72,57,55,55,65,1,False
40,35,Clefairy,Fairy,NaN,70,45,48,60,65,35,1,False
41,36,Clefable,Fairy,NaN,95,70,73,95,90,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
769,699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False
770,700,Sylveon,Fairy,NaN,95,65,65,110,130,60,6,False
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False

select * 
from pk
where Type 1 == 'Grass' or Type 2 != 'Poison'

In [18]:
pk[(pk['Type 1'] == 'Grass') | (pk['Type 2'] == 'Fairy')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
44,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
777,707,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True