In [4]:
import pandas as pd

In [5]:
import numpy as np

In [3]:
pk = pd.read_csv('pokemon_data.csv')

In [7]:
pk

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
select Name, Type 1, Type 2 
from pk

In [8]:
pk[['Name', 'Type 1', 'Type 2']]

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [9]:
pk1 = pk.assign(Name1 = pk['Name'])
pk1

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name1
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,Bulbasaur
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,Ivysaur
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,Venusaur
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,VenusaurMega Venusaur
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,Charmander
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,Diancie
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,DiancieMega Diancie
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,HoopaHoopa Confined
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,HoopaHoopa Unbound
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,Volcanion

In [ ]:
select * 
from pk
where Name = 'Ivysaur'

In [10]:
pk[pk['Name']=='Ivysaur']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False

In [ ]:
select * 
from pk
where HP > 60 and Attack < 80

In [11]:
pk[(pk['HP'] > 60) & (pk['Attack'] < 80)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
35,30,Nidorina,Poison,NaN,70,62,67,55,55,56,1,False
38,33,Nidorino,Poison,NaN,61,72,57,55,55,65,1,False
40,35,Clefairy,Fairy,NaN,70,45,48,60,65,35,1,False
41,36,Clefable,Fairy,NaN,95,70,73,95,90,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
769,699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False
770,700,Sylveon,Fairy,NaN,95,65,65,110,130,60,6,False
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False

In [ ]:
select * 
from pk
where Type 1 == 'Grass' or Type 2 != 'Poison'

In [18]:
pk[(pk['Type 1'] == 'Grass') | (pk['Type 2'] == 'Fairy')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
44,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
777,707,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [ ]:
select *
from pk
where Type 2 is null

In [20]:
pk[pk['Type 2'].isna()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True

In [ ]:
select *
from pk
where Type 2 is not null

In [21]:
pk[pk['Type 2'].notna()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
select Name, Type 1, 
    count(Defense), 
    avg(HP), 
    min(Sp. Atk), 
    max(Sp. Def), 
    sum(Speed)
from pk
group by Name, Type 1

In [23]:
pk.groupby(['Name', 'Type 1']).agg({'Defense':'size', 'HP':'mean', 'Sp. Atk':'min', 'Sp. Def': 'max', 'Speed': 'sum'})

                                 Defense     HP  Sp. Atk  Sp. Def  Speed
Name                    Type 1
Abomasnow               Grass          1   90.0       92       85     60
AbomasnowMega Abomasnow Grass          1   90.0      132      105     30
Abra                    Psychic        1   25.0      105       55     90
Absol                   Dark           1   65.0       75       60     75
AbsolMega Absol         Dark           1   65.0      115       60    115
...                                  ...    ...      ...      ...    ...
Zoroark                 Dark           1   60.0      120       60    105
Zorua                   Dark           1   40.0       80       40     65
Zubat                   Poison         1   40.0       30       40     55
Zweilous                Dark           1   72.0       65       70     58
Zygarde50% Forme        Dragon         1  108.0       81       95     95

[800 rows x 5 columns]

In [ ]:
select *
from bd1 join bd2 on bd1.id = bd2.id

In [ ]:
pd.merge(bd1, bd2, on = 'id')

In [ ]:
select * 
from pk
limit(5)

In [24]:
pk.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [ ]:
select *
from pk
order by desc
limit(5)

In [25]:
pk.tail(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
select *
from pk
limit 5 offset 10

In [26]:
pk.loc[10:15]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False

In [27]:
pk['Name'][:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [ ]:
select distinct Type 1
from pk

In [29]:
pk['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [ ]:
select count(distinct Type 1)
from pk

In [30]:
len(pk['Type 1'].unique())

18

In [ ]:
select *
from pk
order by Attack

In [10]:
pk.sort_values(['Attack'], ascending = 1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True

In [ ]:
select *
from pk
order by Attack desc

In [11]:
pk.sort_values(['Attack'], ascending = 0)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False